n8n/workflows/email-analysis-workflow-ollama.json
{
  "name": "Email Analysis Workflow - Ollama",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "format": "simple",
        "property": "id",
        "options": {}
      },
      "id": "gmail-trigger",
      "name": "Gmail Trigger",
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1,
      "position": [
        240,
        300
      ],
      "credentials": {
        "gmailOAuth2": {
          "id": "gmail-oauth2-credential",
          "name": "Gmail OAuth2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Email Content Processing\n// Xử lý nội dung email\n\nconst email = $input.first().json;\nconst content = email.snippet || email.body || '';\nconst subject = email.subject || '';\nconst sender = email.from || '';\n\n// Extract email address from sender\nconst emailMatch = sender.match(/<(.+?)>/);\nconst senderEmail = emailMatch ? emailMatch[1] : sender;\n\n// Check for complaint keywords\nconst complaintKeywords = [\n  'phàn nàn', 'khiếu nại', 'không hài lòng', 'thất vọng', \n  'lỗi', 'sự cố', 'vấn đề', 'complaint', 'unhappy', 'disappointed',\n  'problem', 'issue', 'error', 'bug', 'broken', 'not working'\n];\n\nconst hasComplaintKeyword = complaintKeywords.some(keyword => \n  content.toLowerCase().includes(keyword.toLowerCase()) ||\n  subject.toLowerCase().includes(keyword.toLowerCase())\n);\n\nreturn {\n  emailId: email.id,\n  senderEmail: senderEmail,\n  subject: subject,\n  content: content,\n  receivedAt: email.date || new Date().toISOString(),\n  hasComplaintKeyword: hasComplaintKeyword,\n  originalEmail: email\n};"
      },
      "id": "email-processor",
      "name": "Email Processor",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        460,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "// Simple Email Analysis - Always return true\n// Phân tích email đơn giản - Luôn trả về true\n\nconst email = $input.first().json;\n\n// Always return true to continue with complaint processing\nreturn {\n  email_id: email.emailId,\n  sender_email: email.senderEmail,\n  subject: email.subject,\n  content: email.content,\n  received_at: email.receivedAt,\n  is_complaint: true,\n  complaint_category: 'service_quality',\n  sentiment_score: -0.5,\n  analysis_method: 'simple_always_true'\n};"
      },
      "id": "ollama-analysis",
      "name": "Ollama Email Analysis",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        680,
        300
      ]
    },
        {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "complaint-condition",
              "leftValue": "={{ $json.is_complaint.toString() }}",
              "rightValue": "true",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "complaint-check",
      "name": "Is Complaint?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        900,
        300
      ]
    },
    {
      "parameters": {
        "operation": "upsert",
        "table": "email_complaints",
        "columns": "email_id, sender_email, subject, content, received_at, is_complaint, complaint_category, sentiment_score",
        "values": "={{ $json.email_id }}, {{ $json.sender_email }}, {{ $json.subject }}, {{ $json.content }}, {{ $json.received_at }}, {{ $json.is_complaint }}, {{ $json.complaint_category }}, {{ $json.sentiment_score }}",
        "conflictColumn": "email_id",
        "options": {
          "useColumnDefinition": true,
          "returnFields": "id"
        }
      },
      "credentials": {
        "postgres": {
          "id": "postgres-direct",
          "name": "PostgreSQL Direct"
        }
      },
      "id": "save-complaint",
      "name": "Save to Database",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [
        1120,
        200
      ]
    },
    {
      "parameters": {
        "jsCode": "// Simple Response Generation - Fallback only\n// Tạo phản hồi đơn giản - Chỉ dùng fallback\n\nconst complaint = $input.first().json;\n\n// Fallback response function\nfunction fallbackResponse() {\n  const templates = {\n    'service_quality': `Kính gửi Quý khách,\\n\\nChúng tôi đã nhận được phản hồi của Quý khách về dịch vụ và rất tiếc về trải nghiệm không tốt. Chúng tôi xin chân thành xin lỗi về sự bất tiện này.\\n\\nChúng tôi đã ghi nhận khiếu nại của Quý khách và sẽ xem xét lại quy trình dịch vụ để cải thiện chất lượng. Quý khách sẽ nhận được phản hồi chi tiết trong vòng 24 giờ.\\n\\nCảm ơn Quý khách đã thông báo cho chúng tôi.\\n\\nTrân trọng,\\nĐội ngũ hỗ trợ khách hàng`,\n    \n    'product_issue': `Kính gửi Quý khách,\\n\\nChúng tôi đã nhận được thông báo về vấn đề với sản phẩm của Quý khách. Chúng tôi rất tiếc về sự cố này và xin lỗi Quý khách vì trải nghiệm không tốt.\\n\\nChúng tôi sẽ tiến hành kiểm tra sản phẩm và cung cấp giải pháp thay thế nếu cần. Trong vòng 48 giờ, chúng tôi sẽ liên hệ với Quý khách để hướng dẫn các bước tiếp theo.\\n\\nCảm ơn sự kiên nhẫn của Quý khách.\\n\\nTrân trọng,\\nĐội ngũ kỹ thuật`,\n    \n    'billing': `Kính gửi Quý khách,\\n\\nChúng tôi đã nhận được khiếu nại của Quý khách về vấn đề thanh toán. Chúng tôi xin lỗi về sự nhầm lẫn trong quá trình thanh toán.\\n\\nKế toán của chúng tôi sẽ kiểm tra lại giao dịch và xử lý theo quy định. Vấn đề sẽ được giải quyết trong vòng 24 giờ làm việc.\\n\\nCảm ơn Quý khách đã thông báo cho chúng tôi.\\n\\nTrân trọng,\\nBộ phận kế toán`,\n    \n    'technical': `Kính gửi Quý khách,\\n\\nChúng tôi đã nhận được báo cáo về vấn đề kỹ thuật của Quý khách. Chúng tôi xin lỗi về sự cố kỹ thuật này.\\n\\nĐội ngũ kỹ thuật của chúng tôi đang điều tra và khắc phục vấn đề. Quý khách sẽ được thông báo khi vấn đề được giải quyết.\\n\\nCảm ơn sự thông cảm của Quý khách.\\n\\nTrân trọng,\\nĐội ngũ kỹ thuật`,\n    \n    'other': `Kính gửi Quý khách,\\n\\nChúng tôi đã nhận được thông tin từ Quý khách và rất ghi nhận phản hồi này. Chúng tôi sẽ xem xét kỹ lưỡng nội dung Quý khách đã gửi.\\n\\nChúng tôi sẽ liên hệ lại với Quý khách trong thời gian sớm nhất để cung cấp thông tin chi tiết.\\n\\nCảm ơn Quý khách đã liên hệ.\\n\\nTrân trọng,\\nĐội ngũ hỗ trợ`\n  };\n  \n  const category = complaint.complaint_category || 'other';\n  const template = templates[category] || templates.other;\n  \n  return {\n    response_content: template,\n    response_tone: 'professional',\n    confidence_score: 0.6,\n    generation_method: 'fallback_template'\n  };\n}\n\n// Generate response\nconst responseResult = fallbackResponse();\n\nreturn {\n  ...complaint,\n  ...responseResult,\n  generated_at: new Date().toISOString()\n};"
      },
      "id": "ollama-response",
      "name": "Ollama Response Generation",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1340,
        200
      ]
    },
    {
      "parameters": {
        "operation": "insert",
        "table": "ai_responses",
        "columns": "complaint_id, response_content, response_tone, confidence_score",
        "values": "={{ $node['Save to Database'].json.id }}, {{ $json.response_content }}, {{ $json.response_tone }}, {{ $json.confidence_score }}",
        "options": {
          "useColumnDefinition": true
        }
      },
      "id": "save-response",
      "name": "Save Response to DB",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [
        1560,
        200
      ],
      "nodeCredentials": {
        "postgres": {
          "host": "postgres",
          "port": 5432,
          "database": "n8n_workflow",
          "user": "n8n_user",
          "password": "n8n_password",
          "ssl": false,
          "connectTimeout": 60000
        }
      }
    },
    {
      "parameters": {
        "channel": "{{ $env.SLACK_CHANNEL }}",
        "text": "🚨 *Khiếu nại mới từ khách hàng*\n\n*📧 Email:* {{ $json.senderEmail }}\n*📝 Tiêu đề:* {{ $json.subject }}\n*🏷️ Danh mục:* {{ $json.complaint_category }}\n*📊 Điểm cảm xúc:* {{ $json.sentiment_score }}\n*🤖 Phương thức phân tích:* {{ $json.analysis_method }}\n*✍️ Phương thức tạo phản hồi:* {{ $json.generation_method }}\n\n*Phản hồi đã được soạn thảo và chờ duyệt.*",
        "otherOptions": {},
        "attachments": [],
        "blocks": []
      },
      "id": "slack-notification",
      "name": "Send Slack Notification",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2,
      "position": [
        1780,
        200
      ],
      "credentials": {
        "slackApi": {
          "id": "slack",
          "name": "slack"
        }
      }
    },
    {
      "parameters": {
        "operation": "insert",
        "table": "notification_logs",
        "columns": "complaint_id, platform, message_content, status",
        "values": "={{ $node['Save to Database'].json.id }}, slack, {{ $json.text }}, sent",
        "options": {}
      },
      "id": "log-notification",
      "name": "Log Notification",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [
        2000,
        200
      ],
      "nodeCredentials": {
        "postgres": {
          "host": "postgres",
          "port": 5432,
          "database": "n8n_workflow",
          "user": "n8n_user",
          "password": "n8n_password",
          "ssl": false,
          "connectTimeout": 60000
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Log non-complaint email for monitoring\n// Ghi nhật ký email không phải khiếu nại để giám sát\n\nconst email = $input.first().json;\n\nreturn {\n  workflowName: 'Email Analysis Workflow - Ollama',\n  executionId: $execution.id,\n  status: 'success',\n  startTime: new Date().toISOString(),\n  inputData: {\n    emailId: email.emailId,\n    senderEmail: email.senderEmail,\n    subject: email.subject,\n    isComplaint: false,\n    reason: 'Not identified as complaint'\n  },\n  outputData: {\n    action: 'Email processed but not saved as complaint',\n    nextStep: 'Continue monitoring',\n    analysisMethod: email.analysis_method || 'none'\n  }\n};"
      },
      "id": "log-non-complaint",
      "name": "Log Non-Complaint",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1120,
        400
      ]
    }
  ],
  "connections": {
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "Email Processor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Email Processor": {
      "main": [
        [
          {
            "node": "Ollama Email Analysis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Email Analysis": {
      "main": [
        [
          {
            "node": "Is Complaint?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Complaint?": {
      "main": [
        [
          {
            "node": "Save to Database",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Log Non-Complaint",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save to Database": {
      "main": [
        [
          {
            "node": "Ollama Response Generation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Response Generation": {
      "main": [
        [
          {
            "node": "Save Response to DB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Response to DB": {
      "main": [
        [
          {
            "node": "Send Slack Notification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Slack Notification": {
      "main": [
        [
          {
            "node": "Log Notification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "createdAt": "2024-04-26T10:35:00.000Z",
      "updatedAt": "2024-04-27T07:56:00.000Z",
      "id": "email-automation-ollama",
      "name": "Email Automation Ollama"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2024-04-27T07:56:00.000Z",
  "versionId": "2"
}
