n8n/workflows/email-analysis-workflow-ollama.json
{
  "name": "Email Analysis Workflow - Ollama",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "format": "simple",
        "property": "id",
        "options": {}
      },
      "id": "gmail-trigger",
      "name": "Gmail Trigger",
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1,
      "position": [
        240,
        300
      ],
      "credentials": {
        "gmailOAuth2": {
          "id": "gmail-oauth2-credential",
          "name": "Gmail OAuth2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Email Content Processing\n// Xử lý nội dung email\n\nconst email = $input.first().json;\nconst content = email.snippet || email.body || '';\nconst subject = email.subject || '';\nconst sender = email.from || '';\n\n// Extract email address from sender\nconst emailMatch = sender.match(/<(.+?)>/);\nconst senderEmail = emailMatch ? emailMatch[1] : sender;\n\n// Check for complaint keywords\nconst complaintKeywords = [\n  'phàn nàn', 'khiếu nại', 'không hài lòng', 'thất vọng', \n  'lỗi', 'sự cố', 'vấn đề', 'complaint', 'unhappy', 'disappointed',\n  'problem', 'issue', 'error', 'bug', 'broken', 'not working'\n];\n\nconst hasComplaintKeyword = complaintKeywords.some(keyword => \n  content.toLowerCase().includes(keyword.toLowerCase()) ||\n  subject.toLowerCase().includes(keyword.toLowerCase())\n);\n\nreturn {\n  emailId: email.id,\n  senderEmail: senderEmail,\n  subject: subject,\n  content: content,\n  receivedAt: email.date || new Date().toISOString(),\n  hasComplaintKeyword: hasComplaintKeyword,\n  originalEmail: email\n};"
      },
      "id": "email-processor",
      "name": "Email Processor",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        460,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "// Ollama Email Analysis\n// Phân tích email với Ollama\n\nconst { spawn } = require('child_process');\nconst http = require('http');\n\nconst email = $input.first().json;\n\n// Function to call Ollama API\nasync function callOllama(prompt) {\n  return new Promise((resolve, reject) => {\n    const data = JSON.stringify({\n      model: 'llama3.2',\n      prompt: prompt,\n      stream: false,\n      temperature: 0.3,\n      top_p: 0.9,\n      max_tokens: 500\n    });\n\n    const options = {\n      hostname: 'localhost',\n      port: 11434,\n      path: '/api/generate',\n      method: 'POST',\n      headers: {\n        'Content-Type': 'application/json',\n        'Content-Length': data.length\n      }\n    };\n\n    const req = http.request(options, (res) => {\n      let responseData = '';\n      \n      res.on('data', (chunk) => {\n        responseData += chunk;\n      });\n      \n      res.on('end', () => {\n        try {\n          const response = JSON.parse(responseData);\n          resolve(response);\n        } catch (error) {\n          reject(error);\n        }\n      });\n    });\n\n    req.on('error', (error) => {\n      reject(error);\n    });\n\n    req.write(data);\n    req.end();\n  });\n}\n\n// Function to check if Ollama is running\nasync function checkOllama() {\n  return new Promise((resolve) => {\n    const req = http.request({\n      hostname: 'localhost',\n      port: 11434,\n      path: '/api/tags',\n      method: 'GET',\n      timeout: 5000\n    }, (res) => {\n      resolve(res.statusCode === 200);\n    });\n\n    req.on('error', () => {\n      resolve(false);\n    });\n\n    req.on('timeout', () => {\n      req.destroy();\n      resolve(false);\n    });\n\n    req.end();\n  });\n}\n\n// Main analysis function\nasync function analyzeEmail() {\n  try {\n    // Check if Ollama is running\n    const isOllamaRunning = await checkOllama();\n    \n    if (!isOllamaRunning) {\n      console.log('Ollama is not running. Using fallback analysis.');\n      return fallbackAnalysis();\n    }\n\n    // Create analysis prompt\n    const prompt = `Analyze the following email and determine if it's a complaint. Provide a JSON response with:\n1. is_complaint (boolean)\n2. complaint_category (string: service_quality, product_issue, billing, technical, other)\n3. sentiment_score (float: -1 to 1, where negative indicates complaint)\n4. urgency_level (string: low, medium, high)\n5. key_issues (array of strings, maximum 3 items)\n\nEmail:\nSubject: ${email.subject}\nFrom: ${email.senderEmail}\nContent: ${email.content}\n\nRespond only with valid JSON. No additional text.`;\n\n    // Call Ollama\n    const response = await callOllama(prompt);\n    const responseText = response.response || '';\n    \n    // Extract JSON from response\n    const jsonMatch = responseText.match(/\\{[^}]+\\}/s);\n    if (jsonMatch) {\n      try {\n        const result = JSON.parse(jsonMatch[0]);\n        return {\n          is_complaint: Boolean(result.is_complaint),\n          complaint_category: result.complaint_category || 'other',\n          sentiment_score: parseFloat(result.sentiment_score) || 0.0,\n          urgency_level: result.urgency_level || 'medium',\n          key_issues: Array.isArray(result.key_issues) ? result.key_issues.slice(0, 3) : [],\n          analysis_method: 'ollama'\n        };\n      } catch (parseError) {\n        console.log('Failed to parse Ollama response, using fallback');\n        return fallbackAnalysis();\n      }\n    } else {\n      console.log('No JSON found in Ollama response, using fallback');\n      return fallbackAnalysis();\n    }\n    \n  } catch (error) {\n    console.log('Error calling Ollama:', error.message);\n    return fallbackAnalysis();\n  }\n}\n\n// Fallback analysis function\nfunction fallbackAnalysis() {\n  const text = (email.subject + ' ' + email.content).toLowerCase();\n  \n  // Complaint keywords\n  const complaintKeywords = [\n    'phàn nàn', 'khiếu nại', 'không hài lòng', 'thất vọng',\n    'lỗi', 'sự cố', 'vấn đề', 'complaint', 'unhappy', 'disappointed',\n    'problem', 'issue', 'error', 'bug', 'broken', 'not working'\n  ];\n  \n  const isComplaint = complaintKeywords.some(keyword => text.includes(keyword));\n  \n  // Category detection\n  let category = 'other';\n  if (/dịch vụ|service|hỗ trợ|support/.test(text)) {\n    category = 'service_quality';\n  } else if (/sản phẩm|product|hàng|item/.test(text)) {\n    category = 'product_issue';\n  } else if (/thanh toán|payment|hóa đơn|invoice/.test(text)) {\n    category = 'billing';\n  } else if (/kỹ thuật|technical|hệ thống|system/.test(text)) {\n    category = 'technical';\n  }\n  \n  // Simple sentiment\n  const positiveWords = ['tốt', 'hay', 'hài lòng', 'good', 'great', 'happy'];\n  const negativeWords = ['xấu', 'kém', 'tệ', 'không hài lòng', 'bad', 'poor', 'unhappy'];\n  \n  const posCount = positiveWords.filter(word => text.includes(word)).length;\n  const negCount = negativeWords.filter(word => text.includes(word)).length;\n  \n  const sentiment = (posCount - negCount) / Math.max(text.split(' ').length, 1) * 10;\n  const finalSentiment = Math.max(-1.0, Math.min(1.0, sentiment));\n  \n  return {\n    is_complaint: isComplaint,\n    complaint_category: category,\n    sentiment_score: finalSentiment,\n    urgency_level: 'medium',\n    key_issues: ['keyword_analysis_fallback'],\n    analysis_method: 'fallback'\n  };\n}\n\n// Execute analysis\nconst analysisResult = await analyzeEmail();\n\nreturn {\n  ...email,\n  ...analysisResult,\n  analyzedAt: new Date().toISOString()\n};"
      },
      "id": "ollama-analysis",
      "name": "Ollama Email Analysis",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        680,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "complaint-condition",
              "leftValue": "={{ $json.is_complaint }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equal"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "complaint-check",
      "name": "Is Complaint?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        900,
        300
      ]
    },
    {
      "parameters": {
        "operation": "insert",
        "table": "email_complaints",
        "columns": "email_id, sender_email, subject, content, received_at, is_complaint, complaint_category, sentiment_score, analysis_method",
        "values": "={{ $json.emailId }}, {{ $json.senderEmail }}, {{ $json.subject }}, {{ $json.content }}, {{ $json.receivedAt }}, {{ $json.is_complaint }}, {{ $json.complaint_category }}, {{ $json.sentiment_score }}, {{ $json.analysis_method }}",
        "options": {}
      },
      "id": "save-complaint",
      "name": "Save to Database",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [
        1120,
        200
      ],
      "credentials": {
        "postgres": {
          "id": "postgres-credential",
          "name": "PostgreSQL"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Ollama Response Generation\n// Tạo phản hồi với Ollama\n\nconst http = require('http');\n\nconst complaint = $input.first().json;\n\n// Function to call Ollama API\nasync function callOllama(prompt) {\n  return new Promise((resolve, reject) => {\n    const data = JSON.stringify({\n      model: 'llama3.2',\n      prompt: prompt,\n      stream: false,\n      temperature: 0.7,\n      top_p: 0.9,\n      max_tokens: 400\n    });\n\n    const options = {\n      hostname: 'localhost',\n      port: 11434,\n      path: '/api/generate',\n      method: 'POST',\n      headers: {\n        'Content-Type': 'application/json',\n        'Content-Length': data.length\n      }\n    };\n\n    const req = http.request(options, (res) => {\n      let responseData = '';\n      \n      res.on('data', (chunk) => {\n        responseData += chunk;\n      });\n      \n      res.on('end', () => {\n        try {\n          const response = JSON.parse(responseData);\n          resolve(response);\n        } catch (error) {\n          reject(error);\n        }\n      });\n    });\n\n    req.on('error', (error) => {\n      reject(error);\n    });\n\n    req.write(data);\n    req.end();\n  });\n}\n\n// Function to check if Ollama is running\nasync function checkOllama() {\n  return new Promise((resolve) => {\n    const req = http.request({\n      hostname: 'localhost',\n      port: 11434,\n      path: '/api/tags',\n      method: 'GET',\n      timeout: 5000\n    }, (res) => {\n      resolve(res.statusCode === 200);\n    });\n\n    req.on('error', () => {\n      resolve(false);\n    });\n\n    req.on('timeout', () => {\n      req.destroy();\n      resolve(false);\n    });\n\n    req.end();\n  });\n}\n\n// Main response generation\nasync function generateResponse() {\n  try {\n    // Check if Ollama is running\n    const isOllamaRunning = await checkOllama();\n    \n    if (!isOllamaRunning) {\n      console.log('Ollama is not running. Using fallback response.');\n      return fallbackResponse();\n    }\n\n    // Create response prompt\n    const prompt = `You are a customer service representative. Generate a professional and empathetic response in Vietnamese for this customer complaint.\n\nComplaint Details:\n- Category: ${complaint.complaint_category}\n- Sentiment: ${complaint.sentiment_score.toFixed(2)}\n- Urgency: ${complaint.urgency_level}\n- Key Issues: ${complaint.key_issues.join(', ')}\n\nOriginal Email:\nSubject: ${complaint.subject}\nContent: ${complaint.content}\n\nRequirements:\n1. Acknowledge the issue\n2. Apologize for the inconvenience  \n3. Explain next steps\n4. Provide timeline for resolution\n5. Include contact information for follow-up\n6. Keep it professional and empathetic\n7. Response should be 150-250 words\n8. Write in Vietnamese\n\nGenerate the response:`;\n\n    // Call Ollama\n    const response = await callOllama(prompt);\n    const responseText = response.response || '';\n    \n    // Clean and return response\n    const cleanedResponse = responseText.trim();\n    \n    if (cleanedResponse.length > 50) {\n      return {\n        response_content: cleanedResponse,\n        response_tone: 'professional',\n        confidence_score: 0.8,\n        generation_method: 'ollama'\n      };\n    } else {\n      console.log('Ollama response too short, using fallback');\n      return fallbackResponse();\n    }\n    \n  } catch (error) {\n    console.log('Error calling Ollama:', error.message);\n    return fallbackResponse();\n  }\n}\n\n// Fallback response function\nfunction fallbackResponse() {\n  const templates = {\n    'service_quality': `Kính gửi Quý khách,\\n\\nChúng tôi đã nhận được phản hồi của Quý khách về dịch vụ và rất tiếc về trải nghiệm không tốt. Chúng tôi xin chân thành xin lỗi về sự bất tiện này.\\n\\nChúng tôi đã ghi nhận khiếu nại của Quý khách và sẽ xem xét lại quy trình dịch vụ để cải thiện chất lượng. Quý khách sẽ nhận được phản hồi chi tiết trong vòng 24 giờ.\\n\\nCảm ơn Quý khách đã thông báo cho chúng tôi.\\n\\nTrân trọng,\\nĐội ngũ hỗ trợ khách hàng`,\n    \n    'product_issue': `Kính gửi Quý khách,\\n\\nChúng tôi đã nhận được thông báo về vấn đề với sản phẩm của Quý khách. Chúng tôi rất tiếc về sự cố này và xin lỗi Quý khách vì trải nghiệm không tốt.\\n\\nChúng tôi sẽ tiến hành kiểm tra sản phẩm và cung cấp giải pháp thay thế nếu cần. Trong vòng 48 giờ, chúng tôi sẽ liên hệ với Quý khách để hướng dẫn các bước tiếp theo.\\n\\nCảm ơn sự kiên nhẫn của Quý khách.\\n\\nTrân trọng,\\nĐội ngũ kỹ thuật`,\n    \n    'billing': `Kính gửi Quý khách,\\n\\nChúng tôi đã nhận được khiếu nại của Quý khách về vấn đề thanh toán. Chúng tôi xin lỗi về sự nhầm lẫn trong quá trình thanh toán.\\n\\nKế toán của chúng tôi sẽ kiểm tra lại giao dịch và xử lý theo quy định. Vấn đề sẽ được giải quyết trong vòng 24 giờ làm việc.\\n\\nCảm ơn Quý khách đã thông báo cho chúng tôi.\\n\\nTrân trọng,\\nBộ phận kế toán`,\n    \n    'technical': `Kính gửi Quý khách,\\n\\nChúng tôi đã nhận được báo cáo về vấn đề kỹ thuật của Quý khách. Chúng tôi xin lỗi về sự cố kỹ thuật này.\\n\\nĐội ngũ kỹ thuật của chúng tôi đang điều tra và khắc phục vấn đề. Quý khách sẽ được thông báo khi vấn đề được giải quyết.\\n\\nCảm ơn sự thông cảm của Quý khách.\\n\\nTrân trọng,\\nĐội ngũ kỹ thuật`,\n    \n    'other': `Kính gửi Quý khách,\\n\\nChúng tôi đã nhận được thông tin từ Quý khách và rất ghi nhận phản hồi này. Chúng tôi sẽ xem xét kỹ lưỡng nội dung Quý khách đã gửi.\\n\\nChúng tôi sẽ liên hệ lại với Quý khách trong thời gian sớm nhất để cung cấp thông tin chi tiết.\\n\\nCảm ơn Quý khách đã liên hệ.\\n\\nTrân trọng,\\nĐội ngũ hỗ trợ`\n  };\n  \n  const category = complaint.complaint_category || 'other';\n  const template = templates[category] || templates.other;\n  \n  return {\n    response_content: template,\n    response_tone: 'professional',\n    confidence_score: 0.6,\n    generation_method: 'fallback'\n  };\n}\n\n// Execute response generation\nconst responseResult = await generateResponse();\n\nreturn {\n  ...complaint,\n  ...responseResult,\n  generated_at: new Date().toISOString()\n};"
      },
      "id": "ollama-response",
      "name": "Ollama Response Generation",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1340,
        200
      ]
    },
    {
      "parameters": {
        "operation": "insert",
        "table": "ai_responses",
        "columns": "complaint_id, response_content, response_tone, confidence_score, generation_method",
        "values": "={{ $node['Save to Database'].json['id'] }}, {{ $json.response_content }}, {{ $json.response_tone }}, {{ $json.confidence_score }}, {{ $json.generation_method }}",
        "options": {}
      },
      "id": "save-response",
      "name": "Save Response to DB",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [
        1560,
        200
      ],
      "credentials": {
        "postgres": {
          "id": "postgres-credential",
          "name": "PostgreSQL"
        }
      }
    },
    {
      "parameters": {
        "channel": "{{ $env.SLACK_CHANNEL }}",
        "text": "🚨 *Khiếu nại mới từ khách hàng*\n\n*📧 Email:* {{ $json.senderEmail }}\n*📝 Tiêu đề:* {{ $json.subject }}\n*🏷️ Danh mục:* {{ $json.complaint_category }}\n*📊 Điểm cảm xúc:* {{ $json.sentiment_score }}\n*⚡ Độ khẩn:* {{ $json.urgency_level }}\n*🔑 Vấn đề:* {{ $json.key_issues.join(', ') }}\n*🤖 Phương thức phân tích:* {{ $json.analysis_method }}\n*✍️ Phương thức tạo phản hồi:* {{ $json.generation_method }}\n\n*Phản hồi đã được soạn thảo và chờ duyệt.*",
        "otherOptions": {},
        "attachments": [],
        "blocks": []
      },
      "id": "slack-notification",
      "name": "Send Slack Notification",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2,
      "position": [
        1780,
        200
      ],
      "credentials": {
        "slackApi": {
          "id": "slack-credential",
          "name": "Slack API"
        }
      }
    },
    {
      "parameters": {
        "operation": "insert",
        "table": "notification_logs",
        "columns": "complaint_id, platform, message_content, status",
        "values": "={{ $node['Save to Database'].json['id'] }}, slack, {{ $json.text }}, sent",
        "options": {}
      },
      "id": "log-notification",
      "name": "Log Notification",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [
        2000,
        200
      ],
      "credentials": {
        "postgres": {
          "id": "postgres-credential",
          "name": "PostgreSQL"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Log non-complaint email for monitoring\n// Ghi nhật ký email không phải khiếu nại để giám sát\n\nconst email = $input.first().json;\n\nreturn {\n  workflowName: 'Email Analysis Workflow - Ollama',\n  executionId: $run.id,\n  status: 'success',\n  startTime: new Date().toISOString(),\n  inputData: {\n    emailId: email.emailId,\n    senderEmail: email.senderEmail,\n    subject: email.subject,\n    isComplaint: false,\n    reason: 'Not identified as complaint'\n  },\n  outputData: {\n    action: 'Email processed but not saved as complaint',\n    nextStep: 'Continue monitoring',\n    analysisMethod: email.analysis_method || 'none'\n  }\n};"
      },
      "id": "log-non-complaint",
      "name": "Log Non-Complaint",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1120,
        400
      ]
    }
  ],
  "connections": {
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "Email Processor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Email Processor": {
      "main": [
        [
          {
            "node": "Ollama Email Analysis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Email Analysis": {
      "main": [
        [
          {
            "node": "Is Complaint?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Complaint?": {
      "main": [
        [
          {
            "node": "Save to Database",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Log Non-Complaint",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save to Database": {
      "main": [
        [
          {
            "node": "Ollama Response Generation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Response Generation": {
      "main": [
        [
          {
            "node": "Save Response to DB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Response to DB": {
      "main": [
        [
          {
            "node": "Send Slack Notification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Slack Notification": {
      "main": [
        [
          {
            "node": "Log Notification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "createdAt": "2024-04-26T10:35:00.000Z",
      "updatedAt": "2024-04-27T07:56:00.000Z",
      "id": "email-automation-ollama",
      "name": "Email Automation Ollama"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2024-04-27T07:56:00.000Z",
  "versionId": "2"
}
